.card {
  width: 230px;
  height: 350px;
  transition: transform 100ms ease-in;
  border: none;
}
.card-img-top {
  height: 250px;
  width: 230px;
}
.card-body {
  background-color: yellow !important;
  box-shadow: 3px 2px 5px silver;
  opacity: 0.4;
  color: black !important;
}
.card:hover {
  transform: scale(1.09);
}
.card-decoration {
  text-decoration: none !important;
}
